html {
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    font-family: Arial;
    justify-content: center;
}

.title {
    margin-top: 200px;
}

.img {
    width: 200px;
    border: solid 5px black;
    border-radius: 100px;
}

.name {
    font-size: 50px
}

.par {
    font-size: 30px;
    font-weight: bold;
}

.primary {
    background-color: #ff4343;
    font-size: 50px;
}

.secondary {
    background-color: #43FBFF;
    flex-direction: column;
    align-items: center;
}

.third {
    background-color: #43ff75;
    flex-direction: column;
    align-items: center;
}

.fourth {
    background-color: #43a7ff;
    flex-direction: column;
    align-items: center;
}

.fifth {
    background-color: #5c43ff;
    flex-direction: column;
    align-items: center;
}

.sixth {
    background-color: #ff43c0;
    flex-direction: column;
    align-items: center;
}